<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listas</title>
    <script src="https://unpkg.com/vue@2"></script>
    <style>
      ul {
        list-style: none;
      }

      h1,p {
        display: inline;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="(cor, i) in cores">{{ i + i }}) {{ cor }}</li>
      </ul>
      <hr>
      <template v-for="(cor, i) in cores">
        <h1>{{ cor }}</h1>
        <p>{{ i }}</p>
      </template>
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          cores: ["vermelho", "verde", "amarelo", "azul"],
          pessoas: [
            { nome: "Ana", idade: 26, peso: 59 },
            { nome: "Guilherme", idade: 22, peso: 89 },
          ],
        },
      });
    </script>
  </body>
</html>
